
.donate-hidden {
    display: none;
}

.sponsor-card a {
    text-decoration: none;
}

/* Blog post date and category */
.post-meta {
    font-style: italic;
}

.sect1 h2 {
    padding-top: 1.5rem;
}

.sect1 h3 {
    padding-top: 1rem;
}

.paragraph>img {
    margin-bottom: 1rem;
}